<section class="container section-spacing">
    <h3 class="heading pb-1 gridtrack">
        Collections
        {% include 'icon-gridtrack' %}
    </h3>
    <p>Mountain Movement has everything you need for your outdoor adventure.</p>
    <div class="grid grid-cols-12 gap-4 mt-12">
        <a href="{{ section.settings.collection-1.url }}" class="col-span-6 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-1.image | img_url: "600x340"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-1.title}}</div></a>
        <a href="{{ section.settings.collection-2.url }}" class="col-span-3 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-2.image | img_url: "320x320"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-2.title}}</div></a>
        <a href="{{ section.settings.collection-3.url }}" class="col-span-3 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-3.image | img_url: "320x320"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-3.title}}</div></a>
        <a href="{{ section.settings.collection-4.url }}" class="col-span-3 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-4.image | img_url: "320x320"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-4.title}}</div></a>
        <a href="{{ section.settings.collection-5.url }}" class="col-span-3 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-5.image | img_url: "320x320"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-5.title}}</div></a>
        <a href="{{ section.settings.collection-6.url }}" class="col-span-6 h-64 flex items-end bg-cover bg-center bg-no-repeat" style="background-image:url('{{section.settings.collection-6.image | img_url: "600x340"}}')"><div class="text-lg text-white font-bold p-3">{{section.settings.collection-6.title}}</div></a>
    </div>
</section>

{% schema %}
{
    "name":"Collections Grid",
    "settings": [
        {
            "type": "collection",
            "id": "collection-1",
            "label": "Collection 1"
        },
        {
            "type": "collection",
            "id": "collection-2",
            "label": "Collection 2"
        },
        {
            "type": "collection",
            "id": "collection-3",
            "label": "Collection 3"
        },
        {
            "type": "collection",
            "id": "collection-4",
            "label": "Collection 4"
        },
        {
            "type": "collection",
            "id": "collection-5",
            "label": "Collection 5"
        },
        {
            "type": "collection",
            "id": "collection-6",
            "label": "Collection 6"
        }
    ]
}
{% endschema %}