<section class="relative section-spacing">    
    <div class="inner-section container">
        <h3 class="heading pb-8">
            Featured Categories
            {% include 'icon-gridtrack' %}
        </h3>
        <div class="flex flex-wrap justify-between relative">

            <a class="w-1/3" href="{{ section.settings.collection-1.url }}">
                <div class="float-left">
                    <img src="{{ section.settings.collection-1.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                    <div class="raleway text-center">{{ section.settings.collection-1.title }}</div>
                </div>
            </a>
            <a class="w-1/3" href="{{ section.settings.collection-2.url }}">
                <img class="mx-auto" src="{{ section.settings.collection-2.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                <div class="raleway text-center">{{ section.settings.collection-3.title }}</div>
            </a>
            <a class="w-1/3" href="{{ section.settings.collection-3.url }}">
                <div class="float-right">
                    <img class="mx-auto" src="{{ section.settings.collection-3.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                    <div class="raleway text-center">{{ section.settings.collection-3.title }}</div>
                </div>
            </a>

            <a class="w-1/3" href="{{ section.settings.collection-4.url }}">
                <div class="float-left">
                    <img class="mx-auto" src="{{ section.settings.collection-4.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                    <div class="raleway text-center">{{ section.settings.collection-4.title }}</div>
                </div>
            </a>
            <a class="w-1/3" href="{{ section.settings.collection-5.url }}">
                <img class="mx-auto" src="{{ section.settings.collection-5.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                <div class="raleway text-center">{{ section.settings.collection-5.title }}</div>
            </a>
            <a class="w-1/3" href="{{ section.settings.collection-6.url }}">
                <div class="float-right">
                    <img class="mx-auto" src="{{ section.settings.collection-6.featured_image | img_url: 'x280' }}" loading="lazy" height="280" width="auto"/>
                    <div class="raleway text-center">{{ section.settings.collection-6.title }}</div>
                </div>
            </a>

        </div>
    </div>
</section>

{% schema %}
{
    "name":"Featured Collections",
    "settings": [
        {
            "type": "collection",
            "id": "collection-1",
            "label": "Collection 1"
        },
        {
            "type": "collection",
            "id": "collection-2",
            "label": "Collection 2"
        },
        {
            "type": "collection",
            "id": "collection-3",
            "label": "Collection 3"
        },
        {
            "type": "collection",
            "id": "collection-4",
            "label": "Collection 4"
        },
        {
            "type": "collection",
            "id": "collection-5",
            "label": "Collection 5"
        },
        {
            "type": "collection",
            "id": "collection-6",
            "label": "Collection 6"
        }
    ]
}
{% endschema %}